Ticket-flow.json
{
  "name": "Ticket-flow",
  "nodes": [
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tickets",
          "mode": "list",
          "cachedResultName": "tickets"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "processed": false
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "Técnico",
                  "value": "Técnico"
                },
                {
                  "name": "Facturación",
                  "value": "Facturación"
                },
                {
                  "name": "Comercial",
                  "value": "Comercial"
                },
                {
                  "name": "Soporte",
                  "value": "Soporte"
                }
              ]
            },
            {
              "id": "sentiment",
              "displayName": "sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "Positivo",
                  "value": "Positivo"
                },
                {
                  "name": "Neutral",
                  "value": "Neutral"
                },
                {
                  "name": "Negativo",
                  "value": "Negativo"
                }
              ]
            },
            {
              "id": "processed",
              "displayName": "processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        912,
        80
      ],
      "id": "2af9af83-0dc4-414c-bf85-177fd17443d3",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "ofPRgs6TMSV0P28K",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "path": "5ec1e629-d6db-4290-a81d-61a71b3b7883",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        176,
        64
      ],
      "id": "05c002f8-eb42-404f-8438-bd1d8872a2e6",
      "name": "Webhook",
      "webhookId": "5ec1e629-d6db-4290-a81d-61a71b3b7883"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "8a08b6cd-bd23-4a25-a1f5-8b7b7d72c144",
              "leftValue": "={{ $json.sentiment }}",
              "rightValue": "Negativo",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        368,
        64
      ],
      "id": "0970b23e-a3e0-4b45-ae6d-96ca28b9a6f1",
      "name": "¿Sentimiento Negativo?"
    },
    {
      "parameters": {
        "sendTo": "e05072003@gmail.com",
        "subject": "prueba",
        "message": "Hola esto es una prueba",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        656,
        -80
      ],
      "id": "6e45f75b-973c-4f34-8803-d96d23b175c8",
      "name": "Send a message",
      "webhookId": "48ba4b8a-f97e-4208-8720-e83a6f3da01d",
      "credentials": {
        "gmailOAuth2": {
          "id": "sBrHryVGKlB9Sjo1",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "¿Sentimiento Negativo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Sentimiento Negativo?": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "2c5fc68c-0ca1-4798-9ddf-b5e640ee541c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d961b1c216757284a81efc31ce8a1b8ef4550e9a68b24ef839bb7bc677bc223"
  },
  "id": "4phlQ2DIketIh13QKP_2D",
  "tags": [
    {
      "name": "VIVETORI AI Support",
      "id": "yVw8vCJv55Xo60zH",
      "updatedAt": "2026-01-22T23:46:50.250Z",
      "createdAt": "2026-01-22T23:46:50.250Z"
    }
  ]
}