Ticket-flow.json
{
  "name": "Ticket-flow",
  "nodes": [
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tickets",
          "mode": "list",
          "cachedResultName": "tickets"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Webhook').item.json.ticket_id }}",
            "description": "={{ $('Webhook').item.json.description }}",
            "category": "={{ $('Webhook').item.json.category }}",
            "sentiment": "={{ $('Webhook').item.json.sentiment }}",
            "processed": true
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "T茅cnico",
                  "value": "T茅cnico"
                },
                {
                  "name": "Facturaci贸n",
                  "value": "Facturaci贸n"
                },
                {
                  "name": "Comercial",
                  "value": "Comercial"
                },
                {
                  "name": "Soporte",
                  "value": "Soporte"
                }
              ]
            },
            {
              "id": "sentiment",
              "displayName": "sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "Positivo",
                  "value": "Positivo"
                },
                {
                  "name": "Neutral",
                  "value": "Neutral"
                },
                {
                  "name": "Negativo",
                  "value": "Negativo"
                }
              ]
            },
            {
              "id": "processed",
              "displayName": "processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1504,
        544
      ],
      "id": "a8f0e54d-5280-4f75-9076-b5c6f010040a",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "ofPRgs6TMSV0P28K",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5ec1e629-d6db-4290-a81d-61a71b3b7883",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        768,
        528
      ],
      "id": "bacba40d-3d57-4063-adcb-27c4b342e721",
      "name": "Webhook",
      "webhookId": "5ec1e629-d6db-4290-a81d-61a71b3b7883"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "8a08b6cd-bd23-4a25-a1f5-8b7b7d72c144",
              "leftValue": "={{ $json.sentiment }}",
              "rightValue": "Negativo",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        960,
        528
      ],
      "id": "12b526f0-39ca-4ed2-9f82-97b6cb26384a",
      "name": "驴Sentimiento Negativo?"
    },
    {
      "parameters": {
        "sendTo": "e05072003@gmail.com",
        "subject": " ALERTA: Ticket con Sentimiento Negativo - {{ $('Webhook').item.json.ticket_id }}",
        "message": "= **ALERTA DE SOPORTE URGENTE**\n\n **Ticket ID:** {{ $('Webhook').item.json.ticket_id }}\n **Categor铆a:** {{ $('Webhook').item.json.category }}\n **Sentimiento:** {{ $('Webhook').item.json.sentiment }}\n **Confianza IA:** {{ $('Webhook').item.json.confidence * 100 }}%\n憋 **Tiempo de Procesamiento:** {{ $('Webhook').item.json.processing_time }}\n\n **Descripci贸n del Ticket:**\n{{ $('Webhook').item.json.description }}\n\n **Acci贸n Requerida:**\nEste ticket requiere atenci贸n inmediata debido al sentimiento negativo detectado por nuestro sistema de IA.\n\n---\n Generado autom谩ticamente por AI-Powered Support Co-Pilot VIVETORI\n Dashboard: http://localhost:5173/dashboard\n Backend API: http://localhost:8080/docs",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1248,
        384
      ],
      "id": "6a1689c2-cb05-49e1-9f1e-2744da349140",
      "name": "Send a message",
      "webhookId": "48ba4b8a-f97e-4208-8720-e83a6f3da01d",
      "credentials": {
        "gmailOAuth2": {
          "id": "sBrHryVGKlB9Sjo1",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "驴Sentimiento Negativo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "驴Sentimiento Negativo?": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "9b8317f8-7c86-4c74-b7d5-09c7d8616016",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d961b1c216757284a81efc31ce8a1b8ef4550e9a68b24ef839bb7bc677bc223"
  },
  "id": "4phlQ2DIketIh13QKP_2D",
  "tags": [
    {
      "updatedAt": "2026-01-22T23:46:50.250Z",
      "createdAt": "2026-01-22T23:46:50.250Z",
      "id": "yVw8vCJv55Xo60zH",
      "name": "VIVETORI AI Support"
    }
  ]
}